.section {
    /*
    ** 776px = 1440 - 332px * 2
    ** 53.888888889 = 776px / 1440px * 100
    ** 23.055555556vw = 332px / 1440px * 100
    */
    /* width: 53.888888889vw; */
    width: 776px;
    margin: 33px 0px 3px 23.055555556vw;

    margin-left: clamp(5vw, calc((100vw - 776px)  / 2), 100vw);
}

.section h1 {
    margin-top: 22px;
    color: #02302D;
    font-size: 2.5em;
    font-family: Manrope;
    font-weight: 500;
    line-height: 49.5px;
}

.errors {
    font-weight: 300;
    font-size: 13px;

    color: #02302D;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

.submitContainer {
    margin-top: 41px;
    display: flex;
    justify-content: flex-end;
}

.input {
    /*
    ** 363 px = 776px - 50px
    */
    width: 343px;
    max-width: calc(90vw - 20px);
}

.submitButton {
    border: solid 1px #02302D;
    padding: 0 8px;
    line-height: 38px;
    color: #02302D;
    font-size: 13px;
    font-weight: 500;
}

.submitButton:hover {
    cursor: pointer;
}

.footer {
    margin-top: 62px;
}

@media screen and (max-width: 1300px) {
    .submitButton {
        padding: 0 100px;
        line-height: 50px;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 854px) {
    .section {
        width: 90vw;
        margin-left: 5vw;
    }

    .section h1 {
        /*
        ** 4.683840749vw = 40px / 854px * 100
        ** 5.796252927vw = 49.5px / 854px * 100
        */
        font-size: clamp(1em, 4.683840749vw, 2.5em);
        line-height: clamp(19.8px, 5.796252927vw, 49.5px);
    }

    .inputContainer {
        flex-direction: column;
    }

    .submitContainer {
        justify-content: center;
    }

    .submitButton {
        /*
        ** 52.5px = text's width
        */
        padding: 0 calc((80vw - 52.5px) / 2);
    }
}