.container {

    display: flex;
    flex-direction: column;
}

.label {
    color: #02302D;
    font-weight: 500;
    line-height: 58px;
}

.input {
    padding: 5px 10px;
    border-radius: 33px;
    border: 1px solid rgba(2, 48, 45, 0.18);
}

.formInputError {
    padding: 5px 10px;
    border-radius: 33px;
    border: 1px solid rgba(2, 48, 45, 0.18);
    border: solid 1px #B9F26D;
}