.container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.item {
    width: 100%;
    margin-right: 22px;
}