.container {
    position: absolute;
    right: 0;
    width: 296px;
    background-color: #02302D;
    border-radius: 20px 0 20px 20px;
    padding: 10px 10px 50px 10px;
    z-index: 1;
}

.nestedContainer {
    width: 271px;

    padding: 10px 15px 15px 10px;

    background-color: rgba(126, 166, 163, 0.1);
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > button {
    font-size: 16px;
    line-height: 38px;
    font-weight: 200;
    color: #FFFFFF;
}

.header > h1 {
    
    position: static;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 1;
}

.errors {
    font-weight: 300;
    font-size: 13px;

    color: #B9F26D;
}

.formGroup {
    margin-top: 20px;
}

.formGroup > label {
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;


    color: #FFFFFF;
}

.formInput {
    margin-top: 5px;
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 25px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    color: #FFFFFF;
}

.formInputError {
    margin-top: 5px;
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 25px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border: solid 1px #B9F26D;
}

.submitContainer {
    display: flex;
    justify-content: flex-end;
}

.submit {
    margin-top: 26px;
    font-weight: 300;
    font-size: 10px;
    line-height: 38px;
    padding: 0 8px;
    text-align: right;

    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
}

.mailContainer {
    /*
    ** 77.38129496% = 215px / 278px * 100
    ** 12.589928058% = 35px / 278px * 100
    */
    width: 77.38129496%;
    height: 146px;
    margin: 15px 0 0 12.589928058%;
    border-radius: 20px;
    background: rgba(126, 166, 163, 0.86);
}

.messageIcon {
    /*
    ** 36.744186047% = 79px / 215px * 100
    */
    margin: 39px 0 0 36.744186047%;
}

.mailContainer > h2 {
    margin: 11px 0 0 0;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
}